<link rel="icon" href="https://miro.medium.com/max/400/1*tfZa4vsI6UusJYt_fzvGnQ.png">
<%- include('partials/header'); -%>

<section class="container p-4">
<div class="row align-items-start">
    <div class="col">
        <h1><%= title %></h1>
        <h6 class="opacity-50">Posted on <%= date %> by <span id="author">Himanshu</span></h6>
        <img src="data:image/png;base64,<%= image %>" alt="image" class="img-fluid uploadedImage me-2"/>
        <div class="preserve-whitespace"><%= content %></div>
    </div>
    <div class="col-md-5 col-12">
        <div class="container p-3 other-post">
            <h3 class="text-center display-4 text-success fw-bolder">Other Posts</h3>
            <hr>
            <% posts.forEach((post) => { %>
                <a href="/posts/<%= post._id %>" id="other-post-links"> 
                    <h3 id="link-title" class="text-center"><%= post.title %></h3>
                    <h6 class="opacity-50 text-center" style="color:black">Posted on <%= post.date %> by <span id="author">Himanshu</span></h6>
                    <p id="content" class="link-content"><%= post.content.substring(0, 97) + "..." %></p>
                </a>
                <hr>
            <% }); %>
        </div>
    </div>
</div>
</section>

<%- include('partials/footer'); -%>