<link rel="icon" href="https://miro.medium.com/max/400/1*tfZa4vsI6UusJYt_fzvGnQ.png">
<%- include('partials/header'); -%>

<section class="container py-5" id="post-viewer">

<div id="main-post">
    <h1><%= title %></h1>
    <h6 class="opacity-50">Posted on <%= date %> by <span id="author">Himanshu</span></h6>
    <p><%= content %></p>
</div>

<div class="ms-5 p-3" id="other-post">
    <h3 class="text-center fw-bolder" style="color: #3C873A;">Other Posts</h3>
    <hr>
    <% posts.forEach((post) => { %>
        <a href="/posts/<%= post._id %>" id="other-post-links">
            <h3 id="link-title" class="text-center"><%= post.title %></h3>
            <h6 class="opacity-50 text-center" style="color:black">Posted on <%= post.date %> by <span id="author">Himanshu</span></h6>
            <p id="content" class="link-content"><%= post.content.substring(0, 97) + "..." %></p>
        </a>
        <hr>
    <% }); %>
</div>

</section>

<hr>



<%- include('partials/footer'); -%>