<%- include('partials/header'); -%>

<div class="container p-5 d-block m-auto">
    <table class="table p-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><%= fhd %></th>
                <th scope="col"><%= shd %></th>
                <th scope="col"><%= thd %></th>
                <th scope="col" class="text-center" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
        <% data.forEach((post, index) => { %>
            <tr>
                <th scope="row" class="border"><%= index+1 %></td>
                <td><%= post.title %><%= post.username %></td>
                <td><%= post.date %><%= post.email %></td>
                <td>
                    <form action="/auth/admin/users" method="get">
                        <button type="submit" class="admin-btn">
                            <%= post.author %><%= post.role %>
                        </button>
                    </form>
                </td>
                <!-- Delete Button -->
                <td class="border px-3 text-center">
                    <form action="/delete/<%= link %>/<%=post._id%>" method="post">
                        <button type="submit" class="admin-btn">
                            <i class="fa fa-trash-o del"></i>
                        </button>
                    </form>
                </td>
                <!-- Edit Button -->
                <td class="border px-3 text-center">
                    <form action="/edit/<%= link %>/<%=post._id%>" method="post">
                        <button type="submit" class="admin-btn">
                            <i class="fa fa-pencil edit"></i>
                        </button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<%- include('partials/footer'); -%>