<%- include('partials/header'); -%>

<div class="container p-5">
    <table class="p-2">
        <tr class="text-center">
            <th>Title</th>
            <th>Date</th>
            <th>User</th>
            <th>Action</th>
        </tr>
        <% posts.forEach((post) => { %>
            <tr>
                <td><%= post.title %></td>
                <td><%= post.date %></td>
                <td class="text-center"><%= post.author %></td>
                <td></td>
            </tr>
        <% }); %>
    </table>
</div>

<%- include('partials/footer'); -%>