<%- include('partials/header'); -%>

<div class="container p-5 d-block m-auto">
    <table class="p-2 border-5 border-success">
        <tr class="text-center border">
            <th class="border"><%= fhd %></th>
            <th class="border"><%= shd %></th>
            <th class="border"><%= thd %></th>
            <th class="border" colspan="2">Action</th>
        </tr>
        <% data.forEach((post) => { %>
            <tr class="border text-center">
                <td class="border px-3"><%= post.title %><%= post.username %></td>
                <td class="border px-3"><%= post.date %><%= post.email %></td>
                <td class="border px-3">
                    <form action="/auth/admin/users" method="get">
                        <button type="submit" class="admin-btn">
                            <%= post.author %><%= post.role %>
                        </button>
                    </form>
                </td>
                <!-- Delete Button -->
                <td class="border px-3">
                    <form action="/delete/<%= link %>/<%=post._id%>" method="post">
                        <button type="submit" class="admin-btn">
                            <i class="fa fa-trash-o del"></i>
                        </button>
                    </form>
                </td>
                <!-- Edit Button -->
                <td class="border px-3">
                    <form action="/edit/<%= link %>/<%=post._id%>" method="post">
                        <button type="submit" class="admin-btn">
                            <i class="fa fa-pencil edit"></i>
                        </button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<%- include('partials/footer'); -%>